/* =====样式重置===== */
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{margin:0;padding:0;}

body{background-color:#FFF;}

body,button,input,select,textarea,fieldset,label{font:12px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; color:#666;}

h1,h2,h3,h4,h5,h6{font-size:100%;}

ul,ol{list-style:none;}

fieldset,img{border:0 none;}

img{-ms-interpolation-mode:bicubic;}

i,em{font-style:normal;}

table{border-collapse:collapse; border-spacing:0;}

input,select,textarea,button{font-size:100%; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
button,
input[type=button],
input[type=submit]{cursor:pointer;}
input[type=search]{-webkit-appearance:textfield;}
textarea{overflow-y:auto; resize:vertical;}

/* =====清除浮动===== */
.clear,
.clearfix{zoom:1;}
.clear:after,
.clearfix:after{
    content:' ';
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
}


/* =====快捷样式类名===== */
.hidden,
.hide{display:none;}

   body { overflow: hidden;}
/* ====all content===== */
.as_content {position: relative;z-index: 1;min-width: 1002px;margin: auto;overflow: hidden;_overflow-y: visible;background: #181c28;  *height: 3600px; }


/* ====楼层公用==== */
.act_content { position:relative; ;z-index: 2; width: 1002px; margin: 0 auto; overflow: hidden;}
.act_content p {color:#9c9fa8; font: 400 12px/22px "\5FAE\8F6F\96C5\9ED1",Arial;}
.act_content p .more { color: #b22a28; text-decoration: none; font-weight: 500;}


/* 楼层9 */
.act_contentI { height: 606px;}
.act_contentI .ogn { width: 240px; margin: 12px 0 0 435px; text-indent:2em; color: #64697c;}
.act_contentI .hd_tit{ height: 71px;font: 400 12px/1.5 "\5FAE\8F6F\96C5\9ED1",Arial;}
.act_contentI .hd_tit h3 { color: #9b1b1a; font-weight: 700; font-size: 30px; line-height: 71px; float: left;}
.act_contentI .hd_tit span { color: #505050; margin-top: 36px; margin-left: 12px; display: inline-block;*display: inline; *zoom:1;}
  
  .act_contentI .dream ,
  .act_contentI .weibo { float: left; overflow: hidden;}
  /* 你心中的梦之队 */
  .act_contentI .dream { width: 661px;}
  .act_contentI .hd_tit{ width: 661px;}
  /* vote区 */
  .vote_bd { width: 656px; height: 534px;}
  .vote_bd .blackboard { width: 650px; height: 288px; background: url(blackboard.jpg) 0 0 no-repeat; margin-top: 6px; position: relative;}
  .vote_bd .blackboard .note_card { width: 198px; height: 131px; overflow: hidden; position: absolute; left: 228px; top: 0px; opacity: 0;filter:alpha(opacity=0);}
  .vote_bd .blackboard .note_card p {font: 400 12px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; margin-left: 12px; color: #323232;}
  .vote_bd .blackboard .note_card .n_user { color: #787878; margin-top: 16px; }
  .vote_bd .blackboard .note_card .n_players { text-indent: 1em; width: 155px; word-wrap : break-word; margin-top: 2px;}
  .vote_bd .blackboard .note_card .n_time { margin-left: 63px; color: #787878; margin-top: 5px;}

  .vote_bd .player { height: 235px;}

  .vote_bd .player .p_tit { color: #969696;font: 400 14px/42px "\5FAE\8F6F\96C5\9ED1",Arial;}
  .vote_bd .player .hot { font-weight: 700; color: #d0b019; font-size: 16px;}
  .vote_bd .player .p_bd { height: 193px;}
  .vote_bd .player .all_list { overflow: hidden;}
  .vote_bd .player .bd_tit { margin-top: 5px; _zoom:1;}
  .vote_bd .player .pre_list {overflow: hidden;} 
  .vote_bd .player .pre_list li { float: left;font: 400 14px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; margin: 0 1px; color: #969696;}
  .vote_bd .player .pre_list .pre_option a { color: #969696; text-decoration: none; padding: 5px; background: #14171e; outline: none;}
  .vote_bd .player .pre_list .pre_option a:hover { background: #252a35;}
  .vote_bd .player .pre_list .pre_option .on {background: #ff8a00; color: #fff;}
  .vote_bd .player .pre_list .pre_option .on:hover {background: #ff8a00; color: #fff;}

  .vote_bd .player .p_share { margin-top: 22px;}
  .vote_bd .player .p_share a {font: 400 14px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; color: #d0b019;}


/* 浮层 */
.md-layer .hd .close,
.exchange .hd h3 i{background: url(sprits.png) no-repeat;}
.fr {float: right;}
.md-layer{width: 320px;background: #fff; display: none;}
.md-layer .hd{height: 36px;border-left: none;border-bottom: 1px solid #b8deff;}
.md-layer .hd h3{height: 36px;line-height: 36px;padding-left:10px;font: bold 15px/36px "微软雅黑";}
.md-layer .hd .close{width:13px;height: 13px;margin:10px;background-position: -2px -24px;}
.md-layer .hd h3 i{float: left;width:17px;height: 17px;margin:10px 10px 0 0;} 
.exchange .hd h3 i{background-position: 0 0px;}
.md-layer .bd{padding: 14px;}
.md-layer .bd p{line-height: 30px;}
.md-layer .bd p .label{color: #969696;float: left;}
.md-layer .bd p .account,
.md-layer .bd p .pd{color: #f76600;font-weight: bold;}
.md-layer .bd .single{text-align: center;}
.md-layer .bd .double a{margin-right: 20px;}
.md-layer .bd .msg-wrap{height:80px;background:url(bg_lose.jpg) left top #fff no-repeat;}
.md-layer .bd .lose_msg{font: bold 14px/40px "微软雅黑";padding-left: 80px;}
.md-layer .bd .close_btn,
.md-layer .bd .sure,
.md-layer .bd .checkout,
.md-layer .bd .cancel{display:inline-block;width: 100px;height: 34px;margin:16px auto;text-align: center;font: bold 14px/34px "微软雅黑";color: #fff;text-decoration: none;}
.md-layer .bd .close_btn{background: #2f95ed;}
.md-layer .bd .sure,
.md-layer .bd .checkout{background: #f76600;}
.md-layer .bd .cancel{background: #a3b4c2;}
.md-layer .bd .detail{width: 260px;margin: 0 auto;}
.md-layer .bd .copy{width: 35px;height: 20px;line-height: 20px;color: #fff;text-align: center;text-decoration: none;background: #f76600;}

.md-layer .codes{float:left;width:160px;color: #f76600;font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
.md-layer .copys{float: right;width: 30px;height: 24px;line-height: 24px;text-align: center;color: #fff;text-decoration: none;background: #f76600;}

.md-lose .bd{padding: 14px 40px;}