/*===== 输入框样式 =====*/
.ui_input,
.ui_txt,
.ui_select {border: 1px solid #d4d4d4; padding: 2px 4px;  width: 122px; height: 18px; color: #333; outline: none;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
	       transition: border linear 0.2s, box-shadow linear 0.2s;
}

/*===== select下拉框样式 =====*/
.ui_select { padding: 2px 0px 2px 4px;  width: 122px; height: 18px; }

/*====== textarea样式 =====*/
.ui_txt { width: 398px; height: 66px;}
.ui_txt_mini { width: 270px; height: 60px;}

/*===== 输入框激活时样式 =====*/
	.ui_input:focus,
	.ui_txt:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0; 
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	}

/*===== 快捷定义宽度样式类名 ======*/
.ui_input_mini {width: 102px; *width: 104px;}
.ui_input_large {width: 168px; *width: 170px;}
.ui_input_xlarge {width: 400px; *width: 402px;}

